* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;

    background-color: rgb(0, 88, 88);
    /* height: 100vh; */
    width: 75%;
    /* background-color: cyan; */
}

.animating-background {
    background: linear-gradient(270deg, #5ec11b, #1a9ed0);
    background-size: 400% 400%;

    -webkit-animation: GradientAnimation 30s ease infinite;
    -o-animation: GradientAnimation 30s ease infinite;
    animation: GradientAnimation 30s ease infinite;
}

@-webkit-keyframes GradientAnimation {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@-o-keyframes GradientAnimation {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}
@keyframes GradientAnimation {
    0%{background-position:0% 48%}
    50%{background-position:100% 53%}
    100%{background-position:0% 48%}
}

.container {
    height: 100vh;
    position: relative;
}

.vertical-center {
    overflow: hidden;
    margin: 0;
    position: absolute;
    margin-top: 30px;
    /* top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

.main {
    color: white;
    float: left;
    width: 40%;
    padding: 0 20px;
}

.main > p {
    margin:  25px 0;
}

.right {
    /* background-image: url('https://picsum.photos/500');
    background-size: cover;
    background-repeat: no-repeat; */

    float: right;
    width: 60%;

}

.pic {
    width: 100%;
    max-height: 50vh;
    border-radius: 10px;
}

/* .right > img {
    width: 50%;
    height: auto;
} */

@media only screen and (max-width: 620px) {

    /* For mobile phones: */
    body,
    .main,
    .right {
        width: 100%;
    }

}

/* 
@media only screen and (max-width: 800px) {
    body {
        width: 85%;
    }
} */

h1 {
    font-size: 5em;
}

.img-container {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: red;
    border-radius: 10px;
  }
  
  /* When you mouse over the container, fade in the overlay icon*/
  .img-container:hover .overlay {
    opacity: 1;
  }
  
  /* The icon inside the overlay is positioned in the middle vertically and horizontally */
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* When you move the mouse over the icon, change color */
  .fa-user:hover {
    color: #eee;
  }